/* Reset CSS para garantir uma base consistente em diferentes navegadores */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Definições adicionais de estilo */
body {
    line-height: 1; /* Altura da linha */
}

ol, ul {
    list-style: none; /* Remover estilos de lista */
}

blockquote, q {
    quotes: none; /* Remover aspas */
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: ''; /* Remover conteúdo de citações */
    content: none;
}

table {
    border-collapse: collapse; /* Colapso de borda da tabela */
    border-spacing: 0;
}

/* Estilo para o container principal */
#container {
    padding-top: 50px; /* Preenchimento superior de 50 pixels */
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 280px; /* Largura do container */
    display: block; /* Exibição de bloco */
  
}

/* Estilo para o canvas do jogo */
canvas {
    background-color: black; /* Cor de fundo preta */
}
